.ad{
    background-color: rgb(141, 141, 135); 
    margin: 0.5%;
    height : 15rem;
    width : 100%;
}

section{
    background-color: aliceblue;
    display : flex;
    overflow: scroll;
    flex-wrap: wrap;
    height : 45rem;     
    margin-bottom: 0.5vh;        
}



@media (min-width : 768px) and (max-width : 1024px) {
        
    .ad{
        width : 49%;
    }
    
}
@media (min-width :1025px) {
  
    .ad{
        width : 32%;
    }

}


